@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #F04935;
    --primary-light: #FEF2F0;
    --primary-dark: #F15342;
    --secondary: #0C3B64;
    --secondary-light: #CFE6F9;
    --secondary-dark: #104E85;
    /*--tertiary: #EFF7FD;*/
    --success: #48A43F;
    --success-light: #ECFDF3;
    --success-dark: #067647;
    --danger: #E0293B;
    --warning: #FFB728;
    --info: #1E88E5;
    --info-light: #EFF7FD;

    --dark: #151414;
    --dark-primary: #141B34;
    --dark-secondary: #4D4D4F;
    --dark-shade-1: #676769;
    --dark-shade-2: #747476;
    --dark-shade-3: #8D8D8F;
    --gray: #EDEDED;
    --gray-light: #DBDBDB;
    --gray-shade3: #C8C8C8;
    --gray-shade4: #B6B6B6;
    --gray-shade5: #A4A4A4;

    --text-primary: #4D4D4F;
    --text-secondary: #344054;
    --text-tertiary: #475467;
    --text-quaternary: #667085;

    --body: #F8FAFF;
    --background-shade-3: #F4F8FB;
    /*--surface: #EFF7FD;*/

    --link: #F04935;
    --disabled: #EFF7FD;

    --border: #D0D5DD;
    --border-secondary: #EAECF0;
    --border-light: #EDEDED;
    --ring: rgba(12, 59, 100, 0.09);
    --ring-secondary: rgba(16, 24, 40, 0.05);
    --ring-light: rgba(21, 108, 183, 0.16);
    --ring-dark: rgba(16, 78, 133, 0.32);
    --ring-gray: rgba(152, 162, 179, 0.14);
    --input: #EFF7FD;

    --radius: 4px;
  }

  .dark {
    --primary: #0C3B64;
    --primary-light: #FEF2F0;
    --primary-dark: #F15342;
    --secondary: #F15342;
    --secondary-light: #CFE6F9;
    --secondary-dark: #104E85;
    /*--tertiary: #EFF7FD;*/
    --success: #48A43F;
    --success-light: #ECFDF3;
    --success-dark: #067647;
    --danger: #E0293B;
    --warning: #FFB728;
    --info: #1E88E5;
    --info-light: #EFF7FD;

    --dark: #151414;
    --dark-secondary: #4D4D4F;
    --dark-shade-1: #676769;
    --dark-shade-2: #747476;
    --dark-shade-3: #8D8D8F;
    --gray: #EDEDED;
    --gray-light: #DBDBDB;
    --gray-shade3: #C8C8C8;
    --gray-shade4: #B6B6B6;
    --gray-shade5: #A4A4A4;

    --body: #F8FAFF;
    --background-shade-3: #F4F8FB;
    /*--surface: #EFF7FD;*/

    --link: #F04935;
    --disabled: #EFF7FD;

    --border: #D0D5DD;
    --border-light: #EDEDED;
    --ring: rgba(12, 59, 100, 0.09);
    --ring-secondary: rgba(16, 24, 40, 0.05);
    --ring-light: rgba(21, 108, 183, 0.16);
    --ring-dark: rgba(16, 78, 133, 0.32);
    --input: #EFF7FD;

    --radius: 4px;
  }
}
 
@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-body relative overflow-x-hidden font-primary;
  }

  main {
    @apply min-h-dvh overflow-x-hidden;
  }

  input {
    @apply bg-transparent focus:outline-none;
  }
}















