@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #F04935;
    --secondary: #0C3B64;
    --tertiary: #EFF7FD;
    --accent: #EFF7FD;
    --success: #EFF7FD;
    --info: #EFF7FD;
    --warning: #EFF7FD;
    --error: #EFF7FD;

    --background: #F8FAFF;
    --surface: #EFF7FD;

    --text: #EFF7FD;

    --link: #EFF7FD;
    --hover: #EFF7FD;
    --disabled: #EFF7FD;

    --border: #EFF7FD;
    --ring: #EFF7FD;
    --input-bg: #EFF7FD;

    --radius: 4px;

    /*--muted: red;*/
    /*--muted-foreground: green;*/
    /*--muted-fore: yellow;*/

    /*--popover: 0 0% 100%;*/
    /*--popover-foreground: 222.2 84% 4.9%;*/

    /*--destructive: 0 84.2% 60.2%;*/
    /*--destructive-foreground: 210 40% 98%;*/
  }

  .dark {
    --primary: #0C3B64;
    --secondary: #F04935;
    --tertiary: #EFF7FD;
    --accent: #EFF7FD;
    --success: #EFF7FD;
    --info: #EFF7FD;
    --warning: #EFF7FD;
    --error: #EFF7FD;

    --background: #333;
    --surface: #EFF7FD;

    --text: #EFF7FD;

    --link: #EFF7FD;
    --hover: #EFF7FD;
    --disabled: #EFF7FD;

    --border: #EFF7FD;
    --ring: #EFF7FD;
    --input-bg: #EFF7FD;
  }
}
 
@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-background relative overflow-x-hidden font-primary;
  }

  main {
    @apply min-h-dvh overflow-x-hidden;
  }

  input {
    @apply bg-transparent focus:outline-none;
  }
}















