@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #F04935;
    --primary-light: #FEF2F0;
    --primary-dark: #F15342;
    --secondary: #0C3B64;
    --secondary-light: #CFE6F9;
    --secondary-dark: #104E85;
    /*--tertiary: #EFF7FD;*/
    --success: #48A43F;
    --success-light: #ECFDF3;
    --success-dark: #067647;
    --danger: #E0293B;
    --warning: #FFB728;
    --info: #1E88E5;
    --info-light: #EFF7FD;

    --body: #F8FAFF;
    /*--surface: #EFF7FD;*/

    --dark: #151414;
    --dark-secondary: #4D4D4F;
    --dark-secondary-light: #676769;
    --dark-secondary-dark: #747476;
    --gray: #B6B6B6;
    --gray-light: #DBDBDB;

    --link: #EFF7FD;
    --disabled: #EFF7FD;

    --border: #EFF7FD;
    --ring: #EFF7FD;
    --input: #EFF7FD;

    --radius: 4px;
  }

  .dark {
    --primary: #F04935;
    --secondary: #0C3B64;
    --tertiary: #EFF7FD;
    --success: #EFF7FD;
    --success-light: #ECFDF3;
    --danger: #EFF7FD;
    --info: #EFF7FD;
    --warning: #EFF7FD;

    --body: #F8FAFF;
    --surface: #EFF7FD;

    --text: #EFF7FD;

    --link: #EFF7FD;
    --disabled: #EFF7FD;

    --border: #EFF7FD;
    --ring: #EFF7FD;
    --input: #EFF7FD;
  }
}
 
@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-body relative overflow-x-hidden font-primary;
  }

  main {
    @apply min-h-dvh overflow-x-hidden;
  }

  input {
    @apply bg-transparent focus:outline-none;
  }
}















